@font-face {
    font-family: 'Shnobel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Shnobel-Regular.woff) format('woff2');
    /*url(../fonts/rubik-regular.woff) format('woff');*/
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Gilroy-Light.woff) format('woff');
    /*url(../fonts/rubik-regular.woff) format('woff');*/
}

@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Gilroy-ExtraBold.otf) format('otf');
    /*url(../fonts/rubik-regular.woff) format('woff');*/
}

:root {
    --color-grey900: #111827;
    --color-grey800: #1F2937;
    --color-grey700: #374151;
    --color-grey600: #4B5563;
    --color-grey500: #6B7280;
    --color-grey400: #9CA3AF;
    --color-grey300: #D1D5DB;
    --color-grey200: #E5E7EB;
    --color-grey100: #F3F4F6;
    --color-grey50: #F9FAFB;
    --color-brand900: #380093;
    --color-brand800: #5004B1;
    --color-brand700: #6422CF;
    --color-brand600: #7A40ED;
    --color-brand500: #8B5CF6;
    --color-brand400: #A78BFA;
    --color-brand300: #C4B5FD;
    --color-brand200: #DDD6FE;
    --color-brand100: #EDE9FE;
    --color-brand50: #F5F3FF;
    --color-rose600: #E11D48;
    --color-rose500: #F43F5E;
    --color-rose300: #FDA4AF;
    --color-rose100: #FFE4E6;
    --color-rose50: #FEF2F2;
}

::-webkit-scrollbar {
    width: 0;
}

* {
    all: unset;
    display: revert;
}

body {
    font-family: 'Gilroy', sans-serif;
}

li {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Shnobel', sans-serif;
}

a {
    cursor: pointer;
}

.header__content-top {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 320px;
    gap: 204px;
}

.logo {
    width: 166px;
    height: 48px;
}

.nav__menu {
    margin: 11px 0;
}

.nav__menu-items {
    font-family: 'Gilroy', sans-serif;
    display: flex;
    align-items: flex-start;
    gap: 35px;

}

#language-change {

}

.header-bg {
    background: url("../img/header-bg.png") repeat no-repeat;
    /*width: 1920px;*/
    /*height: 670px;*/

}

.header-bg__inner {
    padding: 120px 1140px 330px 320px;
    width: 660px;
}

.header-bg__container__title {
    display: flex;
    color: #FFF;
    font-family: 'Shnobel', sans-serif;
    font-size: 238px;
    font-style: normal;
    font-weight: 400;
    line-height: 220px; /* 92.437% */
    text-transform: uppercase;

}

.header-bg__title__span {
    display: flex;
    font-family: 'Shnobel', sans-serif;
    font-size: 66px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 201px;
}

.header-bg__text {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header-bg__subtext {
    color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.header-bg__text__span {
    color: var(--color-brand700);
    border-radius: 100px;
    background: var(--color-brand300);
    padding: 0 6px;
}

.container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px 320px 0 320px;
}

.title {
    text-align: center;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    color: var(--color-grey900);
}

.container__inner-items {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border-bottom: 1px solid var(--color-brand600);
    padding: 20px 0;
    border-top: 1px solid var(--color-brand600);
}

.container__inner-items__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}

.inner-items__text {
    display: flex;
    gap: 10px;
}

.text__picture {
    width: 30px;
    height: 30px;
}

.container__inner-text {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    color: var(--color-brand600);
}

.container__inner-items__subtext {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 414px;
}

.container__inner-items-2{
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.book-bg__img {
    background-image: url("../img/book-bg-1.png");
}

.book-bg__img-2 {
    background-image: url("../img/book-bg-2.png");
}

.book-bg__img-3 {
    background-image: url("../img/book-bg-3.png");
}

.book-bg__img-4 {
    background-image: url("../img/book-bg-4.png");
}

.container__inner__item-book__box {
    display: flex;
    width: 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.container__inner__item-book__title {
    color: var(--color-grey900);
    font-family: 'Gilroy', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.container__inner__item-book__text {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.container__inner__btn {
    background: var(--color-brand100);
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
}

.btn__link {
    color: var(--color-brand600);
    /* H4 */
    font-family: 'Shnobel', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.btn-1 {
    margin-top: 10px;
}

.btn-2 {
    margin-top: 36px;
}

.btn-3 {
    margin-top: 10px;
}

.btn-4 {
    margin-top: 36px;
}

.banner__img__inner {
    background: url("../img/banner-1.png") repeat no-repeat;
    width: 1280px;
    height: 760px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.banner__text {
    color: #fff;
    font-family: 'Shnobel', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
}

.banner__subtext {
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 40px;
}

.container-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 475px;
}

.banner__btn {
    display: flex;
    padding: 16px 26px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--color-brand600);
}

.banner__btn__link {
    color: #fff;
    font-family: 'Shnobel', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.feedback {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 76px;
}

.feedback__text {
    color: #111827;
    padding-top: 20px;
    text-align: center;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-top: 1px solid var(--color-brand600);
    width: 1275px;
}

.feedback__btn {
    display: flex;
    padding: 16px 26px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--color-brand100);
}

.feedback__btn__link {
    font-family: 'Shnobel', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-brand600);
}

.footer {
    display: flex;
    padding: 20px 325px;
    width: 1270px;
    align-items: center;
    /*gap: 320px;*/
    background: linear-gradient(269deg, #4729A0 26.2%, #733EE3 60.93%);;
}

.offer {
    color: #FFF;
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-right: 320px;
}

.social__links {
    padding-left: 129px;
}

.copyright {
    color: #FFF;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 320px;
}

/*about page styles*/
.container-about {
    max-width: 1278px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 321px 0 321px;
}
.container__inner-items__text-author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.container__inner-text-author {
    font-family: 'Gilroy', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    color: var(--color-brand600);
}
.container__inner-items__subtext-author {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    width: 280px;
}
.container__inner-items-2-author {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.items {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.biography {
    width: 525px;
}

.container__inner-biography__about-the-author {
    width: 846px;
    font-size: 18px;
    line-height: 26px;
}

.container__inner-items__biography__title {
    margin-top: 20px;
}

.container__inner__biography__title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;

    font-size: 24px;
    font-weight: 600;
    text-align: left;
    line-height: 30px; /*расположить текст слева*/
}

p.text-biography {
    margin: 15px 0;
}

.img-author {
    width: 413px;
    height: 501px;
}

.container__inner-author__title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-brand600);
}

.banner__img__inner__abouts {
    background: url("../img/banner-1.png") repeat no-repeat;
    width: 1280px;
    height: 760px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}


@media (max-width: 768px) {

    .logo {

    }

    .header__content-top {
        max-width: 768px;
        padding: 10px 22px;
        gap: 10px;
    }

    .nav__menu-items {
        display: flex;
        align-items: flex-start;
        gap: 35px;
    }

    .header-bg {
        /*width: 768px;*/
        background: url("../img/header-bg-tablet.png") repeat no-repeat;
        /*height: 334px;*/
    }

    .header-bg__inner {
        padding: 0;
    }

    .header-bg__container__title {
        font-size: 138px;
        font-style: normal;
        font-weight: 400;
        line-height: 130px; /* 94.203% */
        text-transform: uppercase;
        padding: 44px 480px 0 22px;

    }

    .header-bg__text {
        width: 437px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        gap: 6px;
        padding-top: 10px;
        padding-left: 22px;
    }

    .header-bg__subtext {
        width: 437px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding-left: 22px;
    }

    .header-bg__title__span {
        width: 141px;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .title {
        width: 646px;
        text-align: center;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;;
    }

    .container__inner-items {
        display: flex;
        align-items: flex-start;
        gap: 18px;;
    }

    .container__inner-items__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

    }

    .container__inner-items__subtext {
        width: 228px;
    }

    .container__inner-items-2 {
        display: flex;
        width: 725px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 18px;
        flex-wrap: wrap;
    }

    .book-bg__img, .book-bg__img-2,
    .book-bg__img-3, .book-bg__img-4 {
        width: 333px;
        height: 409px;
        border-radius: 20px;
        background-size: contain;
    }

    .items {
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 9px;
    }

    .banner__img__inner {
        background: url("../img/banner.png") repeat no-repeat;
        width: 724px;
        height: 759px;
        border-radius: 20px;
    }

    .feedback__text {
        width: 725px;
    }

    .footer {
        width: 768px;
        padding: 20px 22px;

    }

    .offer {
        width: 220px;
        padding-right: 22px;

    }

    .social__links {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding: 0;
        width: 240px;
        height: 40px;
    }

    .copyright {
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding-left: 22px;
    }
}

@media (max-width: 360px) {

    .container {
        padding: 20px 15px 20px 15px;
        gap: 0;
    }

    .nav__menu {
        display: none;
    }

    .header__content-top {
        padding: 0 15px;
        gap: 100px;
    }

    .header-bg {
        background: url("../img/header-bg-mobile.png") repeat no-repeat;
    }


    .header-bg__subtext {
        display: none;
    }

    .header-bg__inner {
        display: flex;
        width: 191px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 6px;
    }

    .header-bg__container__title {
        display: flex;
        align-items: flex-start;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: 62px;
        width: 201px;
    }

    .header-bg__title__span {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .header-bg__text {
        display: flex;
        width: 191px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 6px;
    }

    .title__mobile {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 330px;
        text-align: center;
        gap: 20px;
        padding-bottom: 20px;
    }

    .container__inner-items__text {
        display: flex;
        width: 330px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .container__inner-items__subtext {
        display: -webkit-box;
        width: 330px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;
        text-overflow: ellipsis;
        /* M normal */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .content_block {
        overflow: hidden;
        position: relative;
    }
    .content_block.hide {
        height: 200px;
    }
    .content_block.hide:after{
        content: "";
        display: block;
        height: 100px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .text-2 {
        display: none;
    }

    .text-3 {
        display: none;
    }
}
/**/
.container-delivery {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 320px 0 320px;
}
.title-delivery {
    padding-bottom: 40px;
}

.container__inner-delivery {
    display: flex;
    width: 630px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0 945px 40px 305px;
}
.container__inner-items__delivery {
    color: var(--color-grey900);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    font-family: 'Gilroy', sans-serif;
}


.container__inner-items__delivery-1 {
    color: var(--color-grey900);
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}
.delivery-1-text {
    margin-top: 10px;
}

.container__inner-items-delivery-div1 {
    width: 1278px;
    display: flex;
    align-items: flex-start;
    gap: 18px;
    padding: 0 320px 0 320px;
}

.container__inner-items__text-delivery {
    width: 306px;
    display: flex;
    height: 128px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.10);

}

.inner-items__text-delivery {
    color: var(--color-grey900);
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
}

.container__inner-items__subtext-delivery {
    width: 266px;
    color: var(--color-grey600, #4B5563);
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.feedback-delivery {
    width: 1278px;
    padding-top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 140px;
}

/* Отзывы страница*/
/*Заглавный блок*/
.header-bg-feedback {
    background: linear-gradient(90deg, rgba(44,8,117,1) 0%, rgba(76,33,160,1) 100%);
    width: 1278px;
    height: 310px;
    margin-left: 121px;
    border-radius: 20px;
    margin-block-end: 60px;
}

.header-bg-feedback__inner {
    width: 791px;
    height: 220px;
    padding-top: 45px;
    padding-left: 40px;
    overflow:hidden
}

.header-bg-feedback__inner_insta{
    width: 399px;
    height: 220px;
    display:inline-block;
}

.header-bg-feedback__inner_insta-text{
    padding-top: 16px;
    font-size: 18px;
    color: #fff;
    font-family: 'Gilroy', sans-serif;
}

.header-bg-feedback__inner_insta_button{
    width: 263px;
    height: 56px;
    color: #7A40ED;
    border-radius: 100px;
    background-color: #EDE9FE;
    margin-top: 16px;
    padding-left: 30px;
    font-size: 24px;
    line-height: 28px;
}

.header-bg-feedback__inner_info{
    width: 422px;
    height: 220px;
    position:absolute;
    display:inline-block;
}

.header-bg-feedback__inner_banner{
    width: 166px;
    height: 90px;
    Float: left;
    margin-right: 40px;
    margin-block-end: 20px;
}

.header-bg-feedback__inner_banner h1{
    font-size: 54px;
    line-height: 62px;
    color: #fff;
}

.header-bg-feedback__inner_banner p{
    font-size: 16px;
    font-family: 'Gilroy', sans-serif;
    color: #fff;
    line-height: 20px;
}

/*Image*/
.phone{
    float: right;
    padding-right:110px;
    padding-top:15px;
}

.Logo-Group{
    height: 40px;
    width: 40px;
}

.Icon_strelka{
    margin-left: 210px;
    margin-top: -23px;
    position:absolute;
    height: 20px;
    width: 20px;
}



/*Отзывы(карусель)*/
.feedback{
   
    text-align:center;
    margin-left: 121px;
    margin-block-end: 60px;
}

.feedback h1{
    font-size: 54px;
    line-height: 62px;
    margin-block-end: 30px;
}




#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    margin-block-end: 0;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

#content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.item {
    width: 306px;
    height: 544px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    overflow: hidden;
}
