/* Webfont: Shnobel-Oblique */@font-face {
    font-family: 'Shnobel';
    src: url('Shnobel-Oblique.eot'); /* IE9 Compat Modes */
    src: url('Shnobel-Oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Shnobel-Oblique.woff') format('woff'), /* Modern Browsers */
         url('Shnobel-Oblique.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

